@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

a {
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: none;
	cursor: pointer;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px 1fr auto;
	grid-column-gap: 20px;
	grid-row-gap: 50px;
	margin: 0 auto;
	min-width: 550px;
}

/* Header */

header {
	grid-column: span 2;
	height: 70px;
	box-shadow: 0 0 10px #ccc;
}

.header-logo {
	float: left;
	margin: 20px 10px 0 40px;
}

header nav li {
	float: left;
	margin: 23px 0 0 58px;
	text-align: center;
}

header nav a {
	display: inline-block;
	color: #9297a3;
	text-transform: uppercase;
	line-height: 25px;
	font-size: 11px;
	font-weight: bold;
}

header nav a:hover,
.login a:hover,
.active {
	color: #333743;
} 

.login {
	float: right;
	height: 100%;
	width: 100px;
	padding: 0 30px;
	border-left: 0.5px solid #9297a3;
}

.login a {
	display: inline-block;
	margin-top: 25px;
	line-height: 20px;
	font-size: 13px;
	font-weight: bold;
	color: #9297a3;
}

.login .active::after {
	content: "|";
	color: #333743;
	margin: 0 15px;
}

.cart {
	float: right;
	width: 50px;
	height: 100%;
	padding: 0 30px;
	text-align: center;
}

.cart a {
	display: inline-block;
	float: left;
	color: #333743;
	font-weight: bold;
	line-height: 25px;
	font-size: 13px;
	margin-top: 25px;
}

.cart .amount {
	height: 25px;
	width: 25px;
	font-family: Georgia, serif;
	line-height: 25px;
	font-size: 11px;
	color: #ffffff;
	background: url(../img/amount-bg.png) no-repeat;
	background-position: center;
	margin-left: 8px;
	font-weight: normal;
}

/* Main */

.galery-item {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(4, 150px);
	grid-gap: 1rem;
	margin: 0 auto;
}

.picture-1 {
	grid-column: 2 / 3;
	grid-row: 1 / 5;
}

.picture-2 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.picture-3 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

.description-item {
	margin: 0 auto;
	max-width: 510px;
	min-width: 280px;
	text-align: center;
}

.description-item h1 {
	margin-top: 20px;
	color: #9fcede;
	font-size: 12px;
	line-height: 16px;
	font-family: Georgia, serif;
}

.description-item h1 a {
	color: #9fcede;	
}

.description-item h1 a:hover {
	color: #9fcede;
	text-decoration: underline;
}

.description-item h2 {
	padding-top: 13px;
	color: #303032;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	width: 280px;
	margin: 0 auto;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
}

.price {
	margin: 50px 0;
	color: #303032;
	font-size: 22px;
	line-height: 25px;
	font-family: Georgia, serif;
}

.description-item h3,
.color-list h3 {
	color: #333743;
	font-size: 13px;
	line-height: 25px;
	font-weight: bold;
	font-family: 'PT Sans Narrow', sans-serif;	
}

.description-item p {
	min-width: 280px;
	color: #9297a3;
	font-size: 12px;
	line-height: 16px;
	font-family: Georgia, serif;
	margin: 0 auto;
}

.description-item p:first-of-type {
	padding-top: 15px;
	border-top: 0.5px solid #9297a3;
}

.color-list {
}

.color-list input {
	display: none;
}

.color-list label {
	display: block;
	color: #9297a3;
	font-size: 13px;
	line-height: 25px;
	font-family: Georgia, serif;
	padding-left: 20px;
}

.color-list label[for="blue"] {
	background: url(../img/rect-blue.png) no-repeat 0;
}

.color-list label[for="black"] {
	background: url(../img/rect-black.png) no-repeat 0;
}

button {
	text-align: center;
	height: 45px;
	width: 80%;
	margin: 0 auto;
	background-color: #afa394;
	color: #ffffff;
	font-family: Georgia, serif;
	font-size: 13px;
	line-height: 25px;
	border: none;
	border-radius: 2px;
}


@media (max-width: 830px) {
	.galery-item,
	.description-item {
		grid-column: span 2; 
	}

	.wrapper{
		grid-template-rows: 140px 1fr auto;
	}

	header {
		height: 140px;
	}

	.header-top,
	.header-bottom {
		overflow: hidden;
	}
}

/* Catalog */ 

.catalog {
	padding-top: 50px;
	grid-column: span 2;
}

.catalog h2 {
	text-align: center;
	color: #9297a3;
	font-size: 11px;
	line-height: 16px;
	font-family: Georgia, serif;
}

.catalog h2 span {
	color: #333743;
	font-family: 'PT Sans Narrow', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 16px;
	font-weight: bold;
}

.catalog-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px auto 0 auto;
	padding: 0 100px;

}

.catalog-item {
	box-sizing: border-box;
	padding: 10px;
}

/*
.catalog-item h3 {
	color: #333743;
	font-size: 16px;
	line-height: 85px;
	font-weight: bold;
	font-family: 'PT Sans Narrow', sans-serif;
}

.catalog-item strong {
	color: #9297a3;
	font-size: 13px;
	line-height: 85px;
	font-family: Georgia, serif;
}

.catalog-item p {
	color: #9297a3;
	font-size: 11px;
	line-height: 85px;
	font-family: Georgia, serif;
}
*/