@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700');

body {
	font-family: 'Georgia', serif;
	font-size: 11px;
	color: #9297a3;
}

a {
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	color: #9297a3;
}

h2,
h3 {
	font-family: 'PT Sans Narrow', sans-serif;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 70px 1fr auto;
	grid-column-gap: 0px;
	grid-row-gap: 50px;
	margin: 0 auto;
	min-width: 550px;
}

/* Header */

header {
	grid-column: span 2;
	height: 70px;
	box-shadow: 0 0 10px #ccc;
}

.header-logo {
	float: left;
	margin: 20px 10px 0 40px;
}

header nav li {
	float: left;
	margin: 23px 0 0 58px;
	text-align: center;
}

header nav a {
	display: inline-block;
	text-transform: uppercase;
	line-height: 25px;
}

header nav a:hover,
.login a:hover,
.active {
	color: #333743;
} 

.login {
	float: right;
	height: 70px;
	width: 100px;
	padding: 0 30px;
	border-left: 0.5px solid #9297a3;
}

.login a {
	display: inline-block;
	margin-top: 25px;
	line-height: 20px;
	font-size: 13px;
}

.login .active::after {
	content: "|";
	color: #333743;
	margin: 0 15px;
}

.cart {
	float: right;
	width: 50px;
	height: 100%;
	padding: 0 30px;
	text-align: center;
}

.cart a {
	display: inline-block;
	float: left;
	color: #333743;
	line-height: 25px;
	font-size: 13px;
	margin-top: 25px;
}

.cart .amount {
	height: 30px;
	width: 25px;
	font-family: Georgia, serif;
	line-height: 25px;
	color: #ffffff;
	background: url(../img/sprites.png) no-repeat -11.5px -8.5px;
	margin-left: 5px;
	font-weight: normal;
}

/* Galery item */

.galery-item {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(4, 150px);
	grid-gap: 1rem;
	margin: 0 auto;
}

.picture-1 {
	grid-column: 2 / 3;
	grid-row: 1 / 5;
}

.picture-2 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.picture-3 {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
}

/* Description item */

.description-item {
	margin: 0 auto;
	max-width: 510px;
	min-width: 280px;
	text-align: center;
}

.description-item h1 {
	margin-top: 20px;
	color: #9fcede;
	font-size: 12px;
	line-height: 16px;
	margin-left: 13px;
}

.description-item h1:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background: url(../img/sprites.png) no-repeat -18px -67px;
	height: 13px;
	width: 13px;
}

.description-item h1 a {
	font-weight: normal;
	color: #9fcede;	
	font-family: 'Georgia', serif;
}

.description-item h1 a:hover {
	color: #9fcede;
	text-decoration: underline;
}

.description-item h2 {
	padding-top: 13px;
	color: #303032;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	width: 280px;
	margin: 0 auto;
	text-transform: uppercase;
}

.price {
	margin: 50px 0;
	color: #303032;
	font-size: 22px;
	line-height: 25px;
}

.description-item h3,
.color-list h3 {
	color: #333743;
	font-size: 13px;
	line-height: 25px;
	font-weight: bold;
}

.description-item p {
	min-width: 280px;
	font-size: 12px;
	line-height: 16px;
	margin: 0 auto;
}

.description-item p:first-of-type {
	padding-top: 15px;
	border-top: 0.5px solid #9297a3;
}

.color-list {
	margin-top: 70px; 
	text-align: left;
}

.color-list h3 {
	border-bottom: 0.5px solid #9297a3;
	width: 150px;
	margin-left: 20px;
}

.color-list input {
	display: none;
}

.color-list label {
	cursor: pointer;
	display: block;
	font-size: 13px;
	line-height: 25px;
	padding-left: 20px;
	background: url(../img/sprites.png) no-repeat -18px -110px;
	vertical-align: middle;
}

.radiobutton:checked + label {
	background: url(../img/sprites.png) no-repeat -20px -160px;
}

.color-list label[for="blue"]:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	background: url(../img/sprites.png) no-repeat -20px -221px;
	height: 12px;
	width: 12px;
	padding-right: 10px;
}

.color-list label[for="black"]:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background: url(../img/sprites.png) no-repeat -20px -267px;
	height: 12px;
	width: 12px;
	padding-right: 10px;
}

button {
	text-align: center;
	height: 45px;
	width: 80%;
	margin: 120px auto 0 auto;
	background-color: #afa394;
	color: #ffffff;
	font-size: 13px;
	line-height: 25px;
	border: none;
	border-radius: 2px;
	cursor: pointer;

	transition-property: color, background-color;
	transition-duration: 1s;
	animation-timing-function: linear;
}

button:hover {
	color: #afa394;
	border: 1px solid #afa394;
	background-color: #ffffff;
}

@media (max-width: 830px) {
	.galery-item,
	.description-item {
		grid-column: span 2; 
	}

	.wrapper{
		grid-template-rows: 140px 1fr auto;
	}

	header {
		height: 140px;
	}

	.header-top,
	.header-bottom {
		overflow: hidden;
	}
}

/* Catalog */ 

.catalog {
	padding-top: 70px;
	grid-column: span 2;
}

.catalog h2 {
	text-align: center;
	line-height: 16px;
	font-family: 'Georgia', serif;
}

.catalog h2 span {
	color: #333743;
	
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}

.catalog-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 20px auto 0 auto;
	padding: 0 100px;
}

.catalog-item {
	box-sizing: border-box;
	padding: 10px;
	width: 225px;
}

.catalog-item h3 {
	float: left;
	max-width: 150px;
	word-wrap: break-word;
	margin: 5px 0 0 10px; 
	font-weight: bold;
	font-size: 16px;
	color: #333743;
	text-transform: uppercase;
}

.catalog-item strong {
	float: right;
	max-width: 50px;
	word-wrap: break-word;
	margin-top: 5px;
	font-size: 13px;
}

.catalog-item p {
	width: 100%;
	overflow: hidden;
	margin-left: 10px;
	line-height: 16px;
}